@model WardRobe.Models.Backpack

@{
    ViewData["Title"] = "Create";

    var wardrobe = (List<Wardrobe>)ViewData["wardrobe"];

    var trip = (List<Trip>)ViewData["trip"];
}

<h2>Create</h2>

<h4>Backpack</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TripName" class="control-label"></label>
                <select asp-for="TripName" class="form-control" asp-items='new SelectList(trip,"TripName","TripName")'></select>
                <span asp-validation-for="TripName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wardrobe" class="control-label"></label>
                <select asp-for="Wardrobe" class="form-control" asp-items='new SelectList(wardrobe,"Name","Name")'></select>
                <span asp-validation-for="Wardrobe" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="@ViewBag.userid" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

