@{
    ViewData["Title"] = "About";
}
<div class="container-fluid main-container" style="padding-bottom:20px">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 content">
            <img src="~/images/aboutus .png" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
</div>