@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid main-container" style="padding-bottom:20px">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 content">
            <img src="~/images/cover.png" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
</div>

<div class="container-fluid main-container" style="padding-top:20px; padding-bottom:20px">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 content">
            <img src="~/images/backpack.png" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
</div>

<div class="container-fluid main-container" style="padding-top:20px; padding-bottom:20px">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 content">
            <img src="~/images/messy.png" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
</div>



